table(class="bg-info table")
   each bug in bugs
      tr
         td(class="center")
            div(class="#{bug.priority} circle")
         td
            p #{bug.title}
            p #{bug.status}

