div(id= "div4" class= "div4 bg-info")
   h3 Comments
   div(id= "discussion" class="discussion")
   div(id= "newC" class="newC")
      label Name:
      input(type="text" id="user")
      <br>
      label Comment:
      <br>
      textarea(id='comment')
      <br>
      input(type="button" value="Post Comment" id="cBut")