div(id= "div1" class= "div1 bg-info")
   h3 Bug Visualization
   div(id= "graph" class="graph")
   select(id= "graphoptions")
      option(value= "Priority") Priority
      option(value= "Status") Status
