doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type="application/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(type="application/javascript", src="http://code.highcharts.com/highcharts.js")
    script(type="text/javascript", src="../public/main.js")

  body
    block content