extends layout
block content
    div(class="header bg-info")
        div(class="col-md-1")
            img(src="svg/Red_bug.svg")
        div(class="col-md-10")
            h1= title
            span= message
        div(class="col-md-1")
            button(id="addBug" type="submit" class="btn btn-success") Add Bug
    div
        include graph.jade
    div#divBugList.bg-info
    div.div-two.container
    div#div4.div4.bg-info