extends layout
block content
    div.header.bg-info.flex-row
        div.flex-col.fit
            img(src="svg/Red_bug.svg")
        div.flex-col.one
            h1= title
            span= message
        div.flex-col.fit
            button#addBug.btn.btn-success(type="submit") Add Bug
    div#main.flex-row
        div.flex-col.one
            include graph.jade
            div#divBugList.bg-info
        div.flex-col.two-half
            div.div-three.bg-info
            div#div4.div4.bg-info
