body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(/img/background.png)
}

a {
  color: #00B7FF;
}


.center {
  vertical-align: middle;
  width: 1%;
}

img {
  height: 85px;
  float: left;
  margin-right: 4px;
}

select {
  margin-top: 10px;
}

h3 {
  text-align: center;
  font-weight: bold;
}

span {
  font-family: monospace;
}

.div1 {
  margin-top: 20px;
  padding: 5px 10px 10px 11px;
  border: 1px solid black;
  width: 42%;
}

#divBugList {
  margin: 20px 0px 0px 0px;
/ / padding : 5 px 10 px 10 px 11 px;
  border: 1px solid black;
  width: 42%;
}


.discussion{
  height: 50%;
  overflow: auto;
}

.graph {
  width: 100%;
}

.header {
  height: 100px;
  border: 1px solid black;
  padding: 3px 3px 3px 3px;
}

.btn {
  margin-top: 30px;
}

.Medium {
  background: orange;
}

.High {
  background: red;
}

.Low {
  background: yellow;
}
.circle {
  padding: 10px 11px;
  width: 1px;
  height: 4px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 1%;
}

